<span class="title">{{ 'forms.fields.order' | translate }}</span>

<select-component
    [noSearchBox]="true"
    [selectFormGroup]="form"
    selectClass="form-group--small form-group--inline"
    controlClass="form-control--small"
    selectFormControlName="ordering"
    [options]="[{key:'',label:'pages.portfolios.sort.none'}].concat(orderKeys)"
    optionValue="key"
    optionLabel="label"
    (onSelect)="refreshOrdering()"></select-component>

<i class="bd-icon bd-icon--big icon-arrow-down" *ngIf="getActiveSort() === 'desc'" (click)="refreshOrdering(true)"></i>
<i class="bd-icon bd-icon--big icon-arrow-up" *ngIf="getActiveSort() !== 'desc'" (click)="refreshOrdering(true)"></i>

